{% extends 'accounts/base_accounts.html' %}

{% block title %}Update Profile - {{block.super}}{% endblock %}

{% block content %}
	<h2>Update Profile:</h2>
	<p>
		<a href="{% url 'account_change_password' %}">Change my password</a>
	</p>
	<form method="post" action="{% url 'accounts:profile_update' request.user.username %}" enctype="multipart/form-data">
		{% csrf_token %}
		{% include 'core/snippets/form_fields.html' with form=form %}
		<input type="submit" value="Update" class="btn btn-block btn-success" />
		<input type="hidden" name="next" value="{{ next }}" />
	</form>
{% endblock %}
