{% load static %}
{% load thumbnail %}

<div class="row">
	{% for profile in profiles %}
		<div class="col-md-3 text-center">
			<a href="{{ profile.get_absolute_url }}">
				<img src="{% if profile.image %}{% thumbnail profile.image '50x50' crop='center' as img %}{{ img.url }}{% endthumbnail %}{% else %}{% static 'img/default_person_image.png' %}{% endif%}" class="img-fluid rounded-circle author-metadata-image">
				<h5>{{ profile.name }}</h5>
			</a>
			{% if request.user.profile == profile %}
			<p>Diaries: {{ profile.written_diaries_count }}</p>
			{% else %}
			<p>Diaries: {{ profile.visible_written_diaries_count }}</p>
			{% endif %}		
			<p>Followers: {{ profile.followers_count }}</p>
			<form method="post" action="{% url 'accounts:profile_follow' profile.user.username %}">
				{% csrf_token %}
					{% if request.user.profile != profile %}
						{% if request.user.profile in profile.followers.all %}
							<button class="btn btn-dark">Unfollow</button>
						{% else %}
							<button class="btn btn-success">Follow</button>
						{% endif %}
					{% endif %}
			</form>
		</div>
		{% if forloop.counter|divisibleby:'4' %}
		</div><div class="row mt-4">
		{% endif %}
	{% empty %}
		<p>No one is home, comebacke later.</p>
	{% endfor %}
</div>

<div class="row">
	<!-- Pagination Start -->
	<div class="col-md-12">
		{% if is_paginated %}
			<ul class="pagination justify-content-center">
				<li class=" page-item {% if not page_obj.has_previous %}disabled{% endif %}">
					<a {% if page_obj.has_previous %}href="?page={{ page_obj.previous_page_number }}"{% endif %} class="page-link">&lt;</a>
				</li>
				{% for page in page_obj.paginator.page_range %}
					<li  class="page-item {% if page == page_obj.number %}active{% endif %}">
						<a href="?page={{ page }}" class="page-link">{{ page }}</a>
					</li>
				{% endfor %}
				<li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
					<a {% if page_obj.has_next %}href="?page={{ page_obj.next_page_number }}"{% endif %} class="page-link">&gt;</a>
				</li>
			</ul>
		{% endif %}
	</div>
	<!-- Pagination End -->
</div>