{% extends 'accounts/base_accounts.html' %}

{% block title %}Search results for :{{ q }} - {{block.super}}{% endblock %}

{% block content %}
	<h2>Search results for :{{ q }}</h2>

	<h3>Users:</h3>
    {% if profiles %}
	   {% include 'accounts/snippets/profile_snippet.html' with profiles=profiles %}
    {% else %}
        <p>We didn't find any user that matches your query</p>
    {% endif %}

	<h3>Diaries:</h3>
    {% if diaries %}
       {% include 'diaries/snippets/diary_list_snippet.html' with diaries=diaries %}
    {% else %}
        <p>We didn't find any diary that matches your query</p>
    {% endif %}
	
{% endblock %}